@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

#root {
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  background-image: url('./assets/home/background-home-mobile.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  body {
    background-image: url('./assets/home/background-home-tablet.jpg');
  }
}

@media (min-width: 1440px) {
  body {
    display: flex;
    justify-content: center;
  }
}

.bellefair-regular {
  font-family: 'Bellefair', serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-regular {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-regular {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-style: normal;
}
